*{
margin:0px;
padding:0px;
 border: 0;
    outline : 0;
}
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0 ;
    outline : 0 ;
}
#regcaptchaMsg{
	color:red;
	margin-left: 22px;
}
 input[type="radio"]:active, input[type="radio"]:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
	
	   border: 0 ;
    outline :0 ;
}
.table-responsive {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
body{
background-color: rgba(255, 255, 255, 0.3);
    background-image: url("../images/bd1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
img.responsive{
	width:100%;
}
.hbgcolor h1, .in{
	color:#fff;
}
ul.admin-tabs li{
width:33.3%;	
}
 .row {
margin-right: 0px;
margin-left: 0px;
}
.header-fullwidth .row-1 {
background-color: rgba(255, 255, 255, 0.3);
min-height: 90px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
	border:none !important;
}
.min-height-all-page{
	min-height:540px;
}
.form-control{
	border-radius:0px;
}

.edituserform .form-control1{

margin-left: 0px !important;
background-color: rgba(255, 255, 255, 0.5);
margin-top:20px;
width: 94%;
margin-top: 10px;
border-radius:0px;
color: #000;
box-shadow: none;
border: 1px solid #ccc;
line-height: 30px;
padding-left: 20px;
font-size: 14px;
outline: 0px;
width: 94%;
}
.mbn{
	width:4%;
	float:right;	
	margin-top:20px;
	margin-right:13px;
	
}
.mbn-filed{
width:90%;

margin-top:20px;

color: #000;
box-shadow: none;
border: 1px solid #ccc;
line-height: 30px;
padding-left: 20px;
font-size: 14px;
outline: 0px;
float:left;

}
.input-sign{

width: 83%;
margin: 13px auto;
	
}
.mbnumber {
	padding: 5px 0;
}
.update-mbn{
	padding: 5px;
	font-size:14px;
	background-color: rgba(255, 255, 255, 0.5);
		border:1px solid #ccc;
			//border-radius:5px;
			outline:none;
}

}
.bluebutton{
	padding: 5px;
	font-size:14px;
	margin-top:20px;
	background-color: rgba(255, 255, 255, 0.5);
}
.mbnumber{
background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 0 !important;
    outline: medium none;
    padding: 6px !important;
    width: 68%;
}
.otp-enter{
	width:97%;
	padding:5px;
	font-size:14px;
	background-color: rgba(255, 255, 255, 0.5);
		border:1px solid #ccc;
			outline:none;
}
#updatenumotp{
		padding:5px 0;
}
.start, .cancel{
padding: 5px;
color: #000;
font-size: 17px;
background-color: rgba(255, 255, 255, 0.5);
}
.admin-edit td{
	color:#000;
}
.center-block1{
display: block;
margin-right: auto;
margin-left: auto;
width: 28%;
margin-bottom: 20px;
margin-top: 60px;
}
.center-block1 input[type=file]{
	padding: 5px;
color: #000;
font-size: 17px;
background-color: rgba(255, 255, 255, 0.5);
}
.hrmtop{
margin-top:34px;
}
.hrmtop a{
margin-left:14px;
color: #4C4C4C;
}
/* search form start */
.search-padding-bg{
	padding:20px;
background-color: rgba(149, 145, 140, 0.5);
color:#fff;
}

.iwant{
	padding-top:5px;
	font-weight:400;
	font-size:18px;
	
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
background-color: #908B8B;
opacity: 1;
}

.btn-dgn{
	background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0 !important;
    box-shadow: none;
    outline: medium none;
    margin-top:20px;
    		
width:150px;
margin-right:20px;
	
}
.btn{
	    border-radius: 0 !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
	margin:0px;
	padding:0px;
}
.search-form-bs{
	margin-top:150px;
	margin-bottom:160px;
}
.location{
		background-image:url("../images/locator.png");
background-position:right center;
background-repeat:no-repeat;
}
 .bloodgroup{
 	background-image:url("../images/searchbd.png");
background-position:right center;
background-repeat:no-repeat;
 }
.form-control{
	background-color: rgba(255, 255, 255, 0.5);

margin: 0 20px;
	outline:0px;
	width: 94%;
}
.forgot-top{
	
	margin-top:10px;
}
/* search form end */
login form start 
.input-group-1 span{
  display: inline;
display: inline;
left: 14px;
position: relative;
top: 27px;
width: 30px;
}

.l-pwd{
	   background-image: url("../images/f-pwd.png") !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
}
.otp{
		   background-image: url("../images/otp.png") !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    margin-left: 0 !important;
}
.l-user{
		background-image:url("../images/user.png") !important;
background-position:right center !important;
background-repeat:no-repeat !important;
}
.forgot-pwd-link{
			background-image:url("../images/f-pwd.png");
background-position:left center;
background-repeat:no-repeat;
	padding-left:45px;
	
}
.login-btn{
		background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
       margin-top: 10px;
    outline: medium none;

width:100px;
margin-right:20px;
}
.admin-btn{
		background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;

width:130px;
margin-right:20px;
}

.update-mbnumber-btn{
 background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;

    margin-top: 20px;
    outline: medium none;
    padding: 5px;
    width: 197px;
	}
.reset-button{
			background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    margin-top:20px;

width:140px;
margin-right:20px;
}
.forgot-btn{
	
			background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    margin-top:20px;

width:80px;
margin-right:20px;
}
.input-group-1 input{


    margin-top: 13px;
 	background-color: rgba(255, 255, 255, 0.5);
margin-left:3%;
    width: 94%;
}
.captcha-center-details2{
	margin-top:13px;
}
.captcha{
height: 32px;
margin-top: 1px;
background-color: rgba(255, 255, 255, 0.5);
margin-left: 3% !important;
width: 59%;
border: 1px solid #ccc;
outline: none;
background-image: url("../images/captcha.png");
background-position: right center;
background-repeat: no-repeat;
padding-left:10px;
font-weight:100;
    
}
.btn:hover{
	background:#ff0000;
	color:#fff;
}
#regerrorMsg ul li{
	color:red;
	font-size:12px;
	font-weight:100;
}
.successmsg, .successMsg{
	font-weight:100;
	font-size:12px;
	color:green;
}
.error{
		font-weight:100;
	font-size:12px;
	color:red;
}
input{
	background-color: rgba(255, 255, 255, 0.3) !important;
}
input[type=search]{

height: 27px;
background-color: rgba(255, 255, 255, 0.5);
background-image: url("../images/search.png");
background-position: right center;
background-repeat: no-repeat;
padding-left:10px;
border: none;
outline: none;
}
div.dataTables_length select{
	
height: 27px;
background-color: rgba(255, 255, 255, 0.5);
padding-left:10px;
border: none;
outline: none;
}
.b-close{
bottom: 10px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 7px;

    top: 1px;
}
.form-tile{
	text-align:center;
	color:#fff;
	
}
.loginform-dsplay{
	
	//width:200px;
	height:auto;

	display:none;
	position:absolute;
	z-index:1;
	background-color: rgba(255, 255, 255,0.5);
}
.error{
	color:#f20;
background:#000;
	font-size:12px;
	font-weight:100;
	margin-left: 22px;
    padding: 0px 5px;
}
ul li{
	
	list-style:none;
	width:50%;
	height:auto;
}

/* login form end */
/* forget password start */
.mobile-icon{
			background-image:url("../images/mobile.png");
background-position:right center;
background-repeat:no-repeat;
}

/* forget password End */
.footer-fullwidth{
background-color: rgba(255, 255, 255, 0.3);
line-height:30px;

}


.loginform-dsplay a{
  color: #300;

}
/* popup start here */
.ppInfo{
	display:none;
	padding:15px;
	boder:1px solid #000;
	float:left;
	font-size:1.2em;
	position:fixed;
	z-index:99999;
	box-shadow:0px 0px 4px #000;
		-moz-box-shadow:0px 0px 4px #000;
			-webkit-box-shadow:0px 0px 4px #000;
			border-radius:5px;
				-webkit-border-radius:5px;
					-moz-border-radius:5px;
				background-color: rgba(255, 255, 255,0.5);
	
}

.dropdown-menu, .form-control{
	z-index:10000;
}
#mask{
	display:none;
	top:0;
	left:0;
	position:fixed;
	z-index:8888;
	width:100%;
	height:100%;
	opacity:1;
	background:#cc999c;
}
/* popup end here */
.width-mrgn{
width: 255px;
	height:auto;
	margin:0 auto;
}
.close, .pencil{
	padding:2px;
		background:#cc999c;
		margin-left:2px;
}
.mgrn-top{
	top:100px;
}
.availability{
	margin-left:12px;
}
.forgot-pwd{
	
	width:100px;
	margin:0 auto;
	
}
.fbgcolor a{
	color:#000;
 line-height: 55px;
}
.pull-right{
	margin-right:10px;
}
#signup-popup .row, #signup-popup-admin .row{
	margin-top:10px;
}
.input-group {
 
}
/*tab start here*/
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
  
    border-radius: 0;
   // text-align: center;
    padding: 10px;
}

.ui-autocomplete{
	z-index:999999 !important;
}
.tab-pane h2, label.radio-inline{
	color:#000;
	font-size: 14px;
    font-weight: 200;
}
.updateMsg{
		color:lightgreen;
	font-size: 12px;
    font-weight: 100;


}

.tab-content textarea{
	width:94%;
	color:#000;
}


/* registration form start */
.address{
background-image: url("../images/locator.png");
background-position: right center;
background-repeat: no-repeat;
border: 1px solid #ccc;
font-size: 14px;
 margin: 10px 20px;
padding: 8px 10px 0 13px;

	background-color: rgba(255, 255, 255,0.3);
}
.availability span{
		color:#000;
	font-size: 14px;
    font-weight: 200;
}
.mgn-top{
	margin-top:27px;
}
.user-name{
	background-image: url("../images/user.png");
background-position: right center;
background-repeat: no-repeat;
}
.bdgp{
		background-image: url("../images/blood-icon.png");
background-position: right center;
background-repeat: no-repeat;
}
.locator{
			background-image: url("../images/locator.png");
background-position: right center;
background-repeat: no-repeat;
	
}
.calender{
		background-image: url("../images/calender.png");
background-position: right center;
background-repeat: no-repeat;
}
*/
/* tab end here */
@media only screen and (max-width: 350px) {
	
}

@media only screen and (max-width: 350px) and (min-width:320px){
.loginform-dsplay{

    left: 100px;
    top: 123px;
}
.mbn{
	margin-left:5px;
}
.checkbox-inline, .radio-inline{
	padding-left:12px;
}
.mbn-filed{
	width:85%;
}
.input-group1{
	margin-top:10px;
}
.nav-tabs > li > a{
	font-size:13px;
}
.realperson-text {
    font-family: "Courier New",monospace !important;
    font-size: 5px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 2px;
    margin-left: 24px;
    margin-top: 12px;
}
}
@media only screen and (max-width: 360px) and (min-width:355px){
.loginform-dsplay{

    left: 116px;
    top: 70px;
}
.mbn{
	margin-left:1px;
	width:7%;
}
.mbn-filed{
	width:85%;
}
.input-group1{
	margin-top:10px;
}
.nav-tabs > li > a{
	font-size:13px;
}
.realperson-text {
    font-family: "Courier New",monospace !important;
    font-size: 5px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 2px;
    margin-left: 24px;
    margin-top: 12px;
}
}
@media only screen and (max-width: 414px) and (min-width:361px){
	.loginform-dsplay{

    left: 116px;
    top: 70px;
}
.mbn-filed{
	width:89%;
}
.input-group1{
	margin-top:10px;
}
.nav-tabs > li > a{
	font-size:13px;
}
.realperson-text {
    font-family: "Courier New",monospace !important;
    font-size: 5px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 2px;
    margin-left: 24px;
    margin-top: 12px;
}
	}
	@media only screen and (max-width: 480px) and (min-width:415px){
	.loginform-dsplay{

    left: 186px;
    top: 70px;
}
.input-group1{
	margin-top:10px;
}
.nav-tabs > li > a{
	font-size:14px;
}
.realperson-text {
    font-family: "Courier New",monospace !important;
    font-size: 5px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 2px;
    margin-left: 24px;
    margin-top: 12px;
}
	}
		@media only screen and (max-width: 640px) and (min-width:481px){
	.loginform-dsplay{

    right: 86px;
    top: 70px;
}
.input-group1{
	margin-top:10px;
}
.nav-tabs > li > a{
	font-size:14px;
}

	}
			@media only screen and (max-width: 800px) and (min-width:768px){
	.loginform-dsplay{

    right: 86px;
    top: 70px;
}
.mbn-filed{
	width:88%;
}
.input-group1{
	margin-top:10px;
}
	}
		@media only screen and (max-width: 1280px) and (min-width:1024px){
		.mbn-filed{
	width:85%;
}
		}